/* From Uiverse.io by alexruix */ 

.login--main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login--header{
    width: 100%;
    padding: 5% 5%;
    text-align: start;
    
}
.login--header--link{
    font-size: 1rem;
}
.login--container{
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 1rem;
    color: #010101;
  }
  
  .login--form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  /*Form text*/
  .form--title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .form--subtitle {
    font-size: 1rem;
    color: #666;
  }
  
  /*Inputs box*/
  .inputs--container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .login--form--input{
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-footer{
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-footer a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  
  .form-footer a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .login--form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .login--form button:hover {
    background-color: #005ce6;
  }