
.mobile-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;

    .mobile-navbar__rigth{

        display: flex;
        gap: 1rem;

        .mobile-navbar__rigth--flags{
            display: flex;
            gap: 5%;
        }
        .mobile-navbar__rigth--profile{
            display: flex;
            align-items: center;
        }

        img{
            height: 100%;
        }
    }
}